@import '../../../assets/css/variables';

.app-search-container {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid $yellow;
  background-color: #fff;
}

@media screen and (max-width: 480px) {
  li.media {
    display: block;
    text-align: center;
  }
}
