@import '/assets/css/variables';

body,
html {
  height: 100%;
  color: $blue;
  font-size: 16px;
}

a {
  color: $yellow;
}

a:hover {
  color: $blue;
}

.color-yellow {
  color: $yellow;
}

.color-blue {
  color: $blue;
}

/* media queries  */
@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }
}
